<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/264e9e54c0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-brand">
          <spam>
              <%= link_to "Bookers", root_path %>
          </span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

              <li class="nav-link text-light">
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa-solid fa-house">Home</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to users_path do %>
                  <i class="fa-solid fa-users">Users</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to books_path do %>
                  <i class="fa-solid fa-book-open">Books</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket">Log out</i>
                <% end %>
              </li>

            <% else %>

              <li class="nav-link text-light">
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house">Home</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to about_path do %>
                  <i class="fa-solid fa-link">About</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus">Sign up</i>
                <% end %>
              </li>

              <li class="nav-link text-light">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-right-to-bracket">Log in</i>
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>

<main>
  <%= yield %>
</main>

<footer>CopyRight Infratop.inc</footer>

</html>
